/* CSS code in /assets/css/styles.css */

body {
    background-image: url('/assets/images/background-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: "Alegreya Sans", sans-serif;
}

.container {
    display: flex;
    justify-content: right;
    align-items: right;
    height: 100%;
    padding: 100px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}

.text {
    text-align: center;
}

.text h1 {
    margin-bottom: 20px;
}

#todo-form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#todo-form button {
    padding: 10px 20px;
    background-color: #5F9EA0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: left;
}

#todo-form button:hover {
    background-color: #0b5e60;
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-content {
    display: flex;
    align-items: right;
    flex: 1;
}

.task-text {
    margin-left: 10px;
    flex-grow: 1;
    word-break: break-word; /* Ensure long words break to the next line */
}

#todo-list button {
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
    font-size: 16px;
    margin-left: 10px;
}

#todo-list button:hover {
    color: #000;
}

#todo-list i.fas.fa-trash {
    color: #5F9EA0; /* Change to your preferred color */
}

#todo-list i.fas.fa-edit {
    color: #5F9EA0; /* Change to your preferred color */
}

#todo-list button:hover i.fas.fa-trash {
    color: #0b5e60; /* Change to your preferred hover color */
}

#todo-list button:hover i.fas.fa-edit {
    color: #0b5e60; /* Change to your preferred hover color */
}
